.container {
    font-size: 15px;

    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: rgb(235, 248, 244); 
    }
    .editresident{
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }
    .deleteresident{
        padding-left: 10px;
        padding-right: 5px;
        cursor: pointer;
    }
    .registertemp{
        cursor: pointer;
    }
}

.modal-user{
    .content-body{
        .redC{
            color: red;
        }
    }
}
.img{
  cursor: pointer;
}
.btn{
    font-weight: 600 !important;
}
.redC{
    color: red;
}
    

.page-link{
    color: #1e6b41 !important;
}
.page-item.active .page-link {
  background-color: rgb(235, 248, 244) !important; 
  border-color: rgb(235, 248, 244) !important;
  color: #000 !important;         
}
.pagination{
    padding: 30px;
}
.text-temp {
    color: black !important;
    font-weight: 600 !important;
    cursor: pointer;
}

.btn.btn-secondary.cancelbtn{
    background-color: #a0a4a2 !important;
    border-color: #a0a4a2 !important;
    border-radius: 5px !important;
}

.btn.btn-primary.savebtn{
    background-color: #1e6b41 !important;
    color: #fff !important;
    border-color: #1e6b41 !important;
    border-radius: 5px !important;
}


.btn.btn-primary.deletebtn{
    background-color: rgb(218, 32, 32) !important;
    color: #fff !important;
    border-color: rgb(218, 32, 32) !important;
    border-radius: 5px !important;
}