.container {
    font-size: 15px;

    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: rgb(235, 248, 244); 
    }
    .content-left{
        padding: 1.5rem;
        .edit{
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }
        .payment{
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }
        .custombtn{
            margin-bottom: 15px;
            border-radius: 20px;
            width: 230px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            text-align: center;
            background-color: #498765;
            .btn{
                width: 230px;
                color: white !important;
            }
        }
    }
    .content-right{
        margin-top: 2.5rem;
        .custombtn{
            margin-bottom: 15px;
            border-radius: 20px;
            width: 190px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            text-align: center;
            background-color: #498765;
            .btn{
                width: 190px;
                color: white !important;
            }
        }
    }
    .payment-right{
        margin-top: 2.5rem;
        border-radius: 20px;
        width: 350px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 20px;
    }
    .content-bottom{
        .content-bottom-left{
            display: inline-block;            
            padding: 20px;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            // border: 0.5px solid rgb(228, 226, 226)
        }
    }
    .content-top{
        .content-top-left{
            align-items: stretch;
        }
    }
}

.modal-create{
    font-size: 14px;
    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: rgb(235, 248, 244); 
    }
    .content-body{
        .content-right{
            .feebtn{
                margin-bottom: 10px;
                margin-top: 10px;
                border-radius: 5px;
                background-color: #498765;
                .btn{
                    border-color: #498765;
                    color: white !important;
                }
            }
        }
    }
}

.input-group{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.editfeetype{
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.deletefeetype{
    padding-left: 10px;
    padding-right: 5px;
    cursor: pointer;
}