body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.nav-header {
  .bg-header {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .navbar-brand {
    color: #61dafb !important;
  }
}

.nav-header{
  .navbar-nav {
    a,
    .nav-link {
      color: rgb(52, 50, 50) !important;
      margin-right: 20px;
      margin-left: 10px;
      font-size: 18px;
      font-weight: 580;
  
      &:hover {
        color: #1e6b41 !important;
      }
    }
    .btn.btn-primary{
      background-color: white !important;
      border-color: white !important;
    }
  }
}

.img{
  margin-left: 30px;
}

.name{
  color: #1e6b41;
  font-weight: 600;
}

.dropdown-toggle {
  color: #1e6b41 !important;
  background-color: white !important;
  border-color: white !important;
  font-weight: 600 !important;
}
.dropdown-menu {
  min-width: 5rem !important;
}
.dropdown-item {
  font-size: 16px !important;
  width: 80% !important;

  &:hover {
      background-color: white !important;
      color: #1e6b41 !important;
    }

    &.active,
    &.active:hover {
      background-color: white !important;
      color: #1e6b41 !important;
    }
}
