.container {
    font-size: 14px;
    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: rgb(235, 248, 244); 
    }
    .addnewaccount{
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
    .lockaccount{
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
    .editapartment{
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
}
.modal-user{
    .content-body{
        .redC{
            color: red;
        }
    }
}
.page-link{
    color: #1e6b41 !important;
}
.page-item.active .page-link {
  background-color: rgb(235, 248, 244) !important; 
  border-color: rgb(235, 248, 244) !important;
  color: #000 !important;         
}
.pagination{
    padding: 30px;
}